body {
	margin: 0 auto;

}
 a {
	color: blue;
}
a:hover {
	color: red;
}
#meni {
	width:5%;
}
div#shapca{
background-color: red;



}
img#shapca{
	left: 12%;position: relative;
}
img#shapca:active {
	transform: rotate(10deg);
}
